body {
  font-family: 'Varela Round', sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

header {
  height: 10%;
  background: gainsboro;
  box-shadow: 5px 0 20px 5px #aab7b8;
  display: flex;
}

header h1 {
  font-size: 40px;
  font-weight: bold;
  color: blue;
  margin: 15px;
  width: 50%;
}

/*r-82*/
.r-82 {
  position: absolute;
  padding: 5px;
}

.inp {
  opacity: 1;
  width: 0;
  height: 0;
}

.r-82 {
  color: gainsboro;
}

.dark .r-82{
  color: #1F1F1F;
}
/*r-82*/

.contenedor {
  width: 100%;
  height: 100%;
}

.contenedorTexto, .resultadoTexto {
  height: 90%;
  text-align: center;
  box-sizing: border-box;
  display: inline-flex;
  position: absolute;
  
}

.contenedorTexto {
  width: 60%;
  flex-direction: column;
  align-items: baseline;
  padding: 40px 40px 40px 60px;
}

textarea {
  width: 90%;
  resize: none;
  padding: 10px;
  box-sizing: border-box;
  margin: 0 20px;
  border: none;
  font-size: 20px;
  outline: none;
  border-radius: 20px;
}

.contenedorTexto textarea {
  height: 70%;
}

.contenedorTexto textarea:focus {
  box-shadow: 0 0 10px 5px grey;
}

.contenedorTexto span {
  margin: 20px 0;
  font-weight: bold;
  font-size: 15px;
}

.contenedorTexto span i {
  padding: 0 5px 0 0;
}

.contenedorTexto-botones {
  width: 90%;
  position: relative;
}

.botones-encriptar, .botones-desencriptar, .botones-copiar {
  background: #0000FF;
  color: #ffffff;
  border-radius: 30px;
  border: none;
  padding: 20px;
  font-size: 20px;
  width: 45%;
}

.botones-encriptar:hover, .botones-desencriptar:hover, .botones-copiar:hover {
  background: #2255ff;
}

.botones-encriptar {
  margin: 0 20px 0 0;
  left: 0;
  position: absolute;
  width: 48%;
}

.botones-desencriptar {
  margin: 0 0 0 20px;
  right: 0;
  position: absolute;
  width: 48%;
}

.resultadoTexto {
  width: 40%;
  padding: 20px 60px 20px 20px;
  right: 0;
}

.resultado {
  margin: 20px;
  width: 90%;
  border: 2px solid #10a0ff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 25px 10px #aab7b8;
}

.resultadoTexto-sinMensaje img {
  width: 90%;
  margin: 10px;
}

.resultadoTexto-sinMensaje h3 {
  font-weight: bold;
}

.resultadoTexto-sinMensaje h3, p {
  margin: 10px;
}

.resultadoTexto-conMensaje {
  position: relative;
  width: 100%;
  height: 100%;
}

.resultadoTexto-conMensaje textarea {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 70%;
}

.resultadoTexto-conMensaje .botones-copiar {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 10%;
  width: 80%;
}

@media screen and (max-width: 800px){
  body {
    overflow-y: auto;
  }

  .contenedor {
    flex-direction: column;
  }

  .contenedorTexto {
    padding: 40px;
    position: static;
    width: 100%;
    height: 70%;
  }

  .contenedorTexto textarea {
    margin: 0;
    width: 100%;
    height: 80%;
  }

  .contenedorTexto-botones {
    width: 100%;
  }

  .resultadoTexto {
    padding: 20px 40px 40px 40px;
    display: block;
    width: 100%;
    position: relative;
    height: 20%;
    /*flex: 1;*/
  }

  .resultado {
    margin: 0;
    width: 100%;
    padding: 0 0 20px 0;
    box-sizing: border-box;
    border: none;
    box-shadow: none;
    /*height: 100%;*/
  }

  .resultadoTexto-sinMensaje, .resultadoTexto-conMensaje {
    border: 2px solid #10a0ff;
    border-radius: 20px;
    box-shadow: 0 0 25px 10px #aab7b8;
  }

  .resultadoTexto-sinMensaje {
    width: 100%;
    padding: 10px;
  }

  .resultadoTexto-sinMensaje img {
    display: none;
  }

  .resultadoTexto-conMensaje {
    display: flex;
    flex-direction: column;
    padding: 15px 15px 20px 15px;
  }

  .resultadoTexto-conMensaje textarea {
    position: static;
    width: 100%;
    height: 100%;
  }

  .resultadoTexto-conMensaje .botones-copiar {
    position: static;
    width: 100%;
  }

/*estilos para dark mode*/
  .dark .resultado {
    border: none;
    box-shadow: none;
  }

  .dark .resultadoTexto-sinMensaje, .dark .resultadoTexto-conMensaje {
    box-shadow: 0 0 10px 5px #544B4B;
  }
}

@media screen and (max-width: 400px){
  .contenedorTexto {
    padding: 10px;
  }

  .contenedorTexto textarea {
    width: 95%;
    margin: 20px 0;
  }

  .contenedorTexto span {
    margin: 10px;
  }

  .contenedorTexto-botones {
    width: 95%;
  }

  .botones-encriptar, .botones-desencriptar {
    width: 100%;
    position: static;
    margin: 0;
  }

  .botones-encriptar {
    margin: 0 0 10px 0;
  }

  .resultadoTexto {
    padding: 20px;
  }

  .resultadoTexto-resultado {
    height: 100%;
  }
}